<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://unpkg.com/hybind@latest/index.js"></script>

<script src="https://unpkg.com/vue"></script>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@0.7.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<script type="text/x-template" id="crm-ticket-template">


    <md-card>

        <md-card-header>

            <div v-if="editMode" class="md-title">
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                        <label>title</label>
                        <md-input v-model="data.title"></md-input>
                    </md-input-container>
                </form>
            </div>
            <div v-else class="md-title">
                {{data.title}}
            </div>

            <div class="md-subhead">
                raised by
                <crm-customer :data="data.raiser" v-if="data.raiser.name"></crm-customer>
                <md-spinner :md-size="150" md-indeterminate v-else></md-spinner>
            </div>


        </md-card-header>

        <md-card-actions>
            <md-button @click.native="$refs['new-support'].open()">Support</md-button>

            <md-dialog md-open-from="#custom" md-close-to="#custom" ref="new-support">
                <md-dialog-title>Add Support</md-dialog-title>

                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                        <label>content</label>
                        <md-input v-model="support"></md-input>
                    </md-input-container>
                </form>

                <md-dialog-actions>
                    <md-button class="md-primary" @click.native="$refs['new-support'].close()">Cancel</md-button>
                    <md-button class="md-primary" @click.native="addSupport">Add</md-button>
                </md-dialog-actions>
            </md-dialog>

            <md-button v-if="editMode" @click.native="save">Save</md-button>
            <md-button v-else @click.native="edit">Edit</md-button>
        </md-card-actions>

        <md-card-content>
            {{data.content}}

            <h3>Support History</h3>
            <md-table v-if="data.supports">
                <md-table-header>
                    <md-table-row>
                        <md-table-head>Date</md-table-head>
                        <md-table-head>Content</md-table-head>
                        <md-table-head>Assignee</md-table-head>
                    </md-table-row>
                </md-table-header>

                <md-table-body>
                    <md-table-row v-for="support in data.supports" :key="index">
                        <md-table-cell>{{support.supportDate}}</md-table-cell>
                        <md-table-cell>{{support.content}}</md-table-cell>
                        <md-table-cell>{{support.assignee}}</md-table-cell>
                    </md-table-row>
                </md-table-body>
            </md-table>

        </md-card-content>
    </md-card>

</script>


<script type="text/x-template" id="crm-customer-template">
    <div>{{data.name}}</div>
</script>

<script>

    Vue.use(VueMaterial)

    Vue.component('crm-ticket', {
        template: "#crm-ticket-template",
        props: {
            data: Object,
            editMode: Boolean
        },
        data:{
            support: ""
        },
        methods: {

            respond: function(){
                alert('respond')
            },
            save: function () {
                var me = this;
                this.data.$save().then(function(){
                    me.editMode = false;
                })
            },
            edit: function (){
                this.editMode = true;
            },
            addSupport: function(){
                this.data.supports.$create(
                    {content: this.support}
                );
            }
        }
    });

    Vue.component('crm-customer', {
        template: "#crm-customer-template",
        props: {
            data: Object
        },
        data:{

        }
    });

</script>

<script>


</script>

<div id="app">
    <crm-ticket v-for="ticket in tickets" :data="ticket"></crm-ticket>
</div>



<script>
    var app = new Vue({
        el: '#app',
        data:{
            tickets: [
//                {title: 'problem1', content: 'problem1', raiser:{name:'tester'}},
//                {title: 'problem2', content: 'problem2', raiser:{name:'tester'}}
            ]
        },

        created: function () {

            var backend = hybind("http://localhost:8080");
            var tickets = []; //TODO looks dummy
            var me = this;
            backend.$bind("ticket", tickets);
            tickets.$load().then(function(tickets){
                me.tickets = tickets;  //TODO looks dummy

                tickets.forEach(function(ticket){
                   ticket.raiser.$load().then(
                       function(raiser){ //TODO looks dummy
                           ticket.raiser = null; //TODO looks dummy
                           ticket.raiser = raiser; //TODO looks dummy
                       });
                });
            });


        }
    })
</script>